.title, .log-icon {
  padding: 0 20px;
}
.control-item .right {
  position: absolute;
  right: 25px;
  font-family: SFUIText-Regular;
  font-size: 14px;
  color: #8F8E94;
  letter-spacing: 0;
  text-align: right;
}
.control-item .middle {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  text-indent: 20px;
  color: #8F8E94;
}

.log .el-form .el-input__icon {
  font-size: 20px;
  color: transparent;
}
/*.log .el-form .el-input__icon:hover {*/
  /*color: red;*/
  /*cursor: pointer;*/
/*}*/
.log .el-form .el-form-item .el-input:hover .el-input__icon {
  color: #c0c4cc;
  cursor: pointer;
}
.log .el-form .el-form-item .el-input .el-input__icon:hover {
  color: red;
  cursor: pointer;
}
